@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prim: #0b2039;
  --prim-light: #a3afbd;
  --second: #67819e;
  --white: #fff;
  --black: #000;

  /* gradiente */
  --gradient: linear-gradient(90deg, #002e5d, #002e5d, #2774ae);

  /* animacao */
  --transitio-regular: 0.3s;
  --transition-slow: 0.6s;

  --Unbounded: 'Unbounded', sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

.Unbounded {
  font-family: var(--Unbounded);
}

htlm, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #fffaf3;
  font-family: var(--Unbounded), sans-serif;
  color: var(--black);
  height: 5000px;
}

.fixed-nav {
  animation: anim-fixed var(--transition-slow) forwards linear;
  box-shadow: 0 2px 10px rgba(131, 131, 131, 0.6);
  z-index: 9999;
}

@keyframes anim-fixed {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
